.form-control {
	border-radius:2px;
	padding:20px 12px;
}
textarea.form-control {
	padding:10px 12px;
	min-height:156px;
}

#contact {
	background-image:url(../images/bgpurple.png);  

	background-attachment: fixed;
	color:#fff;
	h1,h2,h3,h4 {
		color:#fff;
	}

	.container {

	}
}