body {
	padding-top:50px;
	
	font-family: 'Raleway', sans-serif;
	p {
		font-size:16px;
	}
}
h1, h2, h3, h4 {
	font-weight:100;
	color:$primary;

	font-family: 'Ubuntu', sans-serif;
}
section  {
	border-top:1px solid rgba(0,0,0,0.08);
	.container {
		min-height:500px;
		padding-top:50px;
		padding-bottom:20px;
	}
}
section:nth-child(even) {
	background:rgba(224, 232, 230 ,0.2);
}
.img-circle {
	border:5px solid #3A064D;
	border:5px solid #1E3142;
}	
.tab-pane  {
	margin-top:20px;
}
.tab-content  {
	.row {
		padding-bottom:25px;
		margin-bottom:15px;
		border-bottom:1px solid rgba(0,0,0,0.1);
	}	
	.row:last-child {
		border-bottom:none;
	}
}
.btn-transparent {
	background:rgba(0,0,0,0.4);
	border:1px solid rgba(255,255,255,0.3);
	color:#DAE0E0;
	padding:15px 30px;
	margin:20px;
}	
.btn-transparent:hover {
	background:#3a537f;
	background:#5cb85c;
	background:rgba(90,184,92,0.8);
	color:#fff;
}
.btn-transparent:active,.btn-transparent:visited {
	color:#fff;
}	
div>.btn-transparent:last-child:hover {
	background:#5cb85c;
	background:#401754;
	background:rgba(74,33,94,0.7);
}
.IconCircle {
	font-size:2.2em;
	line-height:100px;
	text-align:center;
	border-radius:200px;
	border:2px solid #1E3142;
	border:4px solid #280a38;
	color:#fff;
	max-width:100px;
	height:100px;
	background:#401754;
	color:#eee;
	position:relative;
	overflow:hidden;
	img {
		max-width:100%;
		position:absolute;
		left:0;
		top:0;
	}
}

footer {
	background:#391649;
	background:#BEA9B7;
	color:#383838;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid rgba(0,0,0,0.7);
	line-height:1em;
}
.portrait {
	float:right;

}
#about img {
	max-width:250px;
	margin-lefT:auto;
	margin-right:auto;
}
.help-block {
	color:#ccc;
	
}
