@media (max-width: 1200px){
	header {
		h1 {
			font-size:2em;
		}
	}
	.Gallery {
		img {
			max-width:200px;
		}
	}
	.col-md-12 > .Gallery{
		img {
			margin-left:0;
			margin-right:0;
			margin-bottom:5px;
			max-width:170px;
		}
	}
	.brandwrapper {
		width:350px;
		height:350px;
	}
	.rounded  {
		
		padding-top:67px;
	}
	.blur {
		margin-left:-175px;
	}
}
@media (max-width: 992px){
	.Gallery {
		img {
			max-width:175px;
			margin-bottom:5px;
		}
		margin-bottom:10px;
		text-align:center;
	}
}
@media (max-width:820px) {
	.blueimp-gallery > .description {
		width:550px;
		margin-left:-275px;
	}
}
@media (max-width: 767px) {
	header {
		h1 {
			font-size:1.6em;
		}
		img {
			padding:0 40px;
		}
		padding-bottom:50px;
	}
	.brandwrapper {
		width:250px;
		height:250px;
	}
	.rounded  {
		
		padding-top:45px;
	}
	.blur {
		margin-left:-125px;
	}	
	
	#services {
	
		ul {
			padding-left:30%;
			padding-right:0;
			min-height:0;
		}
	}
	
}
@media (max-width: 700px) {
	.Gallery {
		img {
			max-width:150px;
		}
	}
	.pull-right{
	
		float:none!important;
	}
}
@media (max-width: 550px) {
	#services ul {
		padding-left:15%;
		padding-right:0;
	}
	
	header {
		padding-top:30px;
		h1 {
			font-size:1.2em;
			margin-top:25px;
		}
		img {
			padding:0 25px;
		}
	}
	.brandwrapper {
		width:180px;
		height:180px;
	}
	.rounded  {
		
		padding-top:20px;
		
	}
	.blur {
		margin-left:-90px;
	}
	header {
		.btn-lg {
			font-size:17px;
			padding:10px 12px;
			margin:10px;
			
		}
	}
	.Gallery {
		
	}
	.blueimp-gallery > .description {
		width:350px;
		margin-left:-175px;
	}
	#about img {
		max-width:250px;
		width:auto;
	}
}
@media (max-width: 370px) {
	.Gallery {
		img {
			max-width:130px;
		}
	}
	header {
	.btn-lg {
		font-size:15px;
		padding:10px;
		margin:0;
		margin-bottom:10px;
	}
	
	}
	.blueimp-gallery > .description {
		width:100%;
		lefT:0;
		margin-left:0;
	}
}
@media (max-device-width: 1024px) {
	header{
		background-attachment: scroll;
	}
	.blur, div>.btn-transparent:last-child:hover:before, .btn-transparent:hover:before, .btn-transparent:before {
		display:none;
	}
	 .rounded {
		background:rgba(21,41,57,0.5);
	
	}
	.portrait {
		float:right;
		
	}
	#about img {
		max-width:100%;
	}
}